<header observeVisibility class="flex flex-col items-center justify-center w-full px-6 mb-8">
  <div class="flex flex-col items-center justify-center text-3xl font-bold">
    My skills
    <div class="my-3 h-1 w-20 rounded-sm bg-[#ff5722]"></div>
  </div>

  <p class="w-[40rem] max-w-full text-center">My self-proclaimed skills. I've been programming since 2016, and these are the skills I'm comfortable with and eager to improve.</p>
</header>

<div observeVisibility class="flex flex-wrap w-full">
  <div class="flex flex-wrap flex-grow w-1/2 max-lg:w-full">
    <div class="flex-grow w-1/2 p-6 max-sm:w-full">
      <h3 class="flex items-center justify-between gap-4 border-b border-[#ff5722] pb-2 text-lg">
        <div class="">
          <i class="inline-flex items-center justify-center w-6 h-6 mr-1 fa-solid fa-code"></i>
          Languages
        </div>
      </h3>

      <ul class="mt-2 ml-5">
        <li class="list-disc">JavaScript</li>
        <li class="list-disc">TypeScript</li>
        <li class="list-disc">CSS</li>
        <li class="list-disc">HTML</li>
        <li class="list-disc">PHP</li>
        <li class="list-disc">Python</li>
        <li class="list-disc">SQL</li>
      </ul>

      @if (show_more_skills) {
        <ul class="pt-1 mt-2 ml-5 border-t border-white">
          <li class="list-disc">Markdown</li>
          <li class="list-disc">Java</li>
          <li class="list-disc">Ruby</li>
          <li class="list-disc">SPARQL</li>
          <li class="list-disc">Cypher</li>
          <li class="list-disc">NASM</li>
          <li class="list-disc">Haskell</li>
          <li class="list-disc">Prolog</li>
          <li class="list-disc">C++</li>
          <li class="list-disc">C#</li>
          <li class="list-disc">C</li>
          <li class="list-disc">Kotlin</li>
        </ul>
      }
    </div>

    <div class="flex-grow w-1/2 p-6">
      <h3 class="flex items-center justify-between gap-4 border-b border-[#ff5722] pb-2 text-lg">
        <div class="">
          <i class="inline-flex items-center justify-center w-6 h-6 mr-1 fa-solid fa-gears"></i>
          Frameworks
        </div>

        <div class="relative inline-flex items-center justify-center group">
          <i class="inline-flex items-center justify-center w-5 h-5 text-xs border border-white rounded-full fa-solid fa-question"></i>

          <div class="shadow-xs tooltip invisible absolute -right-1.5 -top-10 z-10 inline-block whitespace-nowrap rounded-lg bg-gray-700 px-3 py-1 text-sm font-medium text-white opacity-0 transition-opacity duration-300 group-hover:visible group-hover:opacity-100">
            & Libraries
            <div class="absolute -bottom-1.5 right-2 -z-10 h-4 w-4 bg-gray-700" style="clip-path: polygon(0 50%, 50% 0, 100% 50%, 50% 100%)"></div>
          </div>
        </div>
      </h3>

      <ul class="mt-2 ml-5">
        <li class="list-disc">Tailwind CSS</li>
        <li class="list-disc">Angular</li>
        <li class="list-disc">React.js</li>
        <li class="list-disc">jQuery</li>
        <li class="list-disc">LESS</li>
        <li class="list-disc">SCSS</li>
        <li class="list-disc">Laravel</li>
        <li class="list-disc">Flask</li>
      </ul>

      @if (show_more_skills) {
        <ul class="pt-1 mt-2 ml-5 border-t border-white">
          <li class="list-disc">Node.js</li>
          <li class="list-disc">NumPy</li>
          <li class="list-disc">PySimpleGUI</li>
          <li class="list-disc">Spring Boot</li>
          <li class="list-disc">Java Swing</li>
        </ul>
      }
    </div>
  </div>

  <div class="flex flex-wrap flex-grow w-1/2 max-lg:w-full">
    <div class="flex-grow w-1/2 p-6 max-sm:w-full">
      <h3 class="flex items-center justify-between gap-4 border-b border-[#ff5722] pb-2 text-lg">
        <div class="">
          <i class="inline-flex items-center justify-center w-6 h-6 mr-1 fa-solid fa-desktop"></i>
          Programs
        </div>

        <div class="relative inline-flex items-center justify-center group">
          <i class="inline-flex items-center justify-center w-5 h-5 text-xs border border-white rounded-full fa-solid fa-question"></i>

          <div class="shadow-xs tooltip invisible absolute -right-1.5 -top-10 z-10 inline-block whitespace-nowrap rounded-lg bg-gray-700 px-3 py-1 text-sm font-medium text-white opacity-0 transition-opacity duration-300 group-hover:visible group-hover:opacity-100">
            & Tools
            <div class="absolute -bottom-1.5 right-2 -z-10 h-4 w-4 bg-gray-700" style="clip-path: polygon(0 50%, 50% 0, 100% 50%, 50% 100%)"></div>
          </div>
        </div>
      </h3>

      <ul class="mt-2 ml-5">
        <li class="list-disc">VSCode</li>
        <li class="list-disc">GitHub Desktop</li>
        <li class="list-disc">DevTools</li>
        <li class="list-disc">PyCharm</li>
        <li class="list-disc">XAMPP</li>
        <li class="list-disc">Figma</li>
        <li class="list-disc">GIMP</li>
        <li class="list-disc">PowerToys</li>
      </ul>

      @if (show_more_skills) {
        <ul class="pt-1 mt-2 ml-5 border-t border-white">
          <li class="list-disc">Microsoft Office</li>
          <li class="list-disc">MySQL</li>
          <li class="list-disc">PostgreSQL</li>
          <li class="list-disc">Neo4j</li>
          <li class="list-disc">Unity</li>
          <li class="list-disc">Visual Studio</li>
          <li class="list-disc">FFMPEG</li>
          <li class="list-disc">ShareX</li>
          <li class="list-disc">Notepad++</li>
          <li class="list-disc">Postman</li>
          <li class="list-disc">Swagger</li>
        </ul>
      }
    </div>

    <div class="flex-grow w-1/2 p-6">
      <h3 class="flex items-center justify-between gap-4 border-b border-[#ff5722] pb-2 text-lg">
        <div class="">
          <i class="inline-flex items-center justify-center w-6 h-6 mr-1 border border-white rounded-full fa-solid fa-ellipsis"></i>
          Other
        </div>
      </h3>

      <ul class="mt-2 ml-5">
        <li class="list-disc">Windows</li>
        <li class="list-disc">Linux (Ubuntu)</li>
        <li class="list-disc">Android</li>
        <li class="list-disc">Git</li>
        <li class="list-disc">Responsive Design</li>
        <li class="list-disc">Problem-Solving</li>
      </ul>

      @if (show_more_skills) {
        <ul class="pt-1 mt-2 ml-5 border-t border-white">
          <li class="list-disc">Database Design</li>
          <li class="list-disc">Writing Documentation</li>
        </ul>
      }
    </div>
  </div>
</div>

@if (!show_more_skills) {
  <button observeVisibility (click)="showMoreSkills()" class="mt-10 block w-fit cursor-pointer rounded-md border border-white p-2 px-4 text-lg transition-colors duration-300 hover:bg-[#ff5622c1]">
    <i class="mr-2 fa-solid fa-plus"></i>
    Show More Skills
  </button>
}
