<div class="absolute top-0 left-0 overflow-hidden rounded-md" style="clip-path: polygon(98% 0, 0 0, 0 98%)">
  <div class="h-52 w-52 border-[0.75rem] [border-image:linear-gradient(to_top_left,#00C8FF,#717171,#00C8FF)_10]"></div>
</div>

<div class="absolute bottom-0 right-0 overflow-hidden rounded-md" style="clip-path: polygon(100% 2%, 2% 100%, 100% 100%)">
  <div class="h-52 w-52 border-[0.75rem] [border-image:linear-gradient(to_top_left,#00C8FF,#717171,#00C8FF)_10]"></div>
</div>

<div class="flex flex-wrap gap-20 p-20 gap-y-8 max-md:p-14 max-sm:p-8">
  <div class="flex-grow w-3/5 max-lg:w-full">
    <h1 class="font-bona text-5xl text-[#00C8FF] max-sm:mb-3 max-sm:text-4xl">Welcome</h1>

    <div class="border-[#717171] [border-image:linear-gradient(to_top_left,#00C8FF,#717171,#00C8FF)_10] max-sm:mb-4 sm:my-4 sm:border-l-4 sm:py-1 sm:pl-4">
      <p class="mb-4 text-justify hyphens-auto">
        My name is Sachin Chobey. I'm a developer based in
        <a class="text-left text-[#00C8FF] underline-offset-2 hover:underline" href="https://maps.app.goo.gl/swuDpQuntiqxTr1MA" target="_blank"><i class="fa-solid fa-location-dot"></i> Azamgarh, India</a>. I'm an aspiring software developer with a strong foundations in programming.
      </p>
      <p class="text-justify">My key strengths include quick learning, creativity and problem-solving. I enjoy solving various challenges, learining new things and building interesting solutions. My focus is on writing clean, efficient code and grow as a developer while continuously expanding my knowledge.</p>
    </div>

    <a href="sachin_chobey.pdf" target="_blank" class="mt-5 block w-fit cursor-pointer rounded-md border border-white p-2 px-4 text-lg transition-all duration-300 hover:-translate-y-1 hover:bg-[#ff5622c1]"><i class="fa-solid fa-file-pdf"></i> Download Resume</a>

    <!--<button class="p-2 px-4 text-lg border border-white rounded-md"><i class="fa-solid fa-gamepad"></i> Play a game</button>-->
  </div>

  <div class="relative flex-grow w-1/4 max-lg:w-full">
    <h2 class="mb-0 mt-6 font-bona text-2xl text-[#00C8FF]">Contents</h2>

    <div class="absolute left-0 overflow-hidden rounded-md top-16 -z-0" style="clip-path: polygon(80% 0, 0 0, 0 80%, 80% 80%)">
      <div class="h-32 w-20 border-4 [border-image:linear-gradient(to_top_left,#00C8FF,#717171,#00C8FF)_10]"></div>
    </div>

    <ul class="relative z-10 p-8 text-lg">
      <li (click)="scrollToWhatIDo()" class="flex items-center gap-2 cursor-pointer group">
        <div class="w-1 h-1 transition-all bg-white rounded-full group-hover:w-8"></div>
        What I Do
      </li>
      <li (click)="scrollToSkills()" class="flex items-center gap-2 cursor-pointer group">
        <div class="w-1 h-1 transition-all bg-white rounded-full group-hover:w-8"></div>
        My Skills
      </li>
      <li (click)="scrollToSelectedProjects()" class="flex items-center gap-2 cursor-pointer group">
        <div class="w-1 h-1 transition-all bg-white rounded-full group-hover:w-8"></div>
        Projects
      </li>
      <li (click)="scrollToEducation()" class="flex items-center gap-2 cursor-pointer group">
        <div class="w-1 h-1 transition-all bg-white rounded-full group-hover:w-8"></div>
        Education
      </li>
      <li (click)="scrollToExperience()" class="flex items-center gap-2 cursor-pointer group">
        <div class="w-1 h-1 transition-all bg-white rounded-full group-hover:w-8"></div>
        Experience
      </li>
    </ul>
  </div>

  <ul class="absolute bottom-[1.125rem] right-[1.125rem] flex gap-1.5 max-sm:flex-col">
    <li class="flex items-center justify-center w-12 h-12 text-2xl rounded-sm">
      <a class="flex h-full w-full items-center justify-center rounded-sm border bg-transparent text-[#f8f9fa] transition-all duration-150 hover:scale-110 hover:bg-[#fafbfc] hover:text-[#212529]" href="https://github.com/sachinchobey" target="_blank" aria-label="github link">
        <i class="fa-brands fa-github"></i>
      </a>
    </li>

    <li class="flex items-center justify-center w-12 h-12 text-2xl rounded-sm">
      <a class="flex h-full w-full items-center justify-center rounded-sm border bg-transparent text-[#f8f9fa] transition-all duration-150 hover:scale-110 hover:bg-[#fff] hover:text-[#000]" href="https://codepen.io/Sachin-Chobey" target="_blank" aria-label="codepen link">
        <i class="fa-brands fa-codepen"></i>
      </a>
    </li>

    <li class="flex items-center justify-center w-12 h-12 text-2xl rounded-sm">
      <a class="flex h-full w-full items-center justify-center rounded-sm border bg-transparent text-[#f8f9fa] transition-all duration-150 hover:scale-110 hover:bg-[#0077B5] hover:text-[#fff]" href="https://www.linkedin.com/in/sachin-chobey-2731ba228/" target="_blank" aria-label="linkedin link">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
    </li>
  </ul>
</div>
