<div class="relative w-full overflow-hidden pb-[13vh]" style="background-image: url(images/endless-constellation.svg)">
  <div class="flex h-full min-h-72 w-full flex-col items-center justify-center border-b border-[#717171] bg-[#212529] bg-[radial-gradient(circle,rgba(0,0,0,0.1)_0,rgba(0,0,0,0.5)_100%)] bg-no-repeat p-8 text-[#ff5722] max-sm:p-4">
    <h1 class="mb-0 font-bona text-7xl max-sm:text-5xl">Contact</h1>
  </div>

  <div observeVisibility class="flex flex-col items-center p-8 max-sm:p-4">
    <div class="flex flex-wrap items-start justify-between w-full h-full max-w-screen-xl gap-16 py-8">
      <div class="flex-grow w-2/5 h-full max-lg:w-full">
        <div class="text-3xl font-bold">
          Get In Touch
          <div class="my-3 h-1 w-20 rounded-sm bg-[#ff5722]"></div>
        </div>

        <p class="">Have a project in mind or just want to say hello? I'm open to new opportunities, collaborations, or a friendly chat about tech. Feel free to contact me through:</p>

        <div class="flex flex-col gap-2 my-4">
          <div class="flex items-center">
            <a class="underline-offset-2 hover:text-[#ff5722] hover:underline" href="mailto:artur.pas@proton.me">
              <i class="inline-flex items-center justify-center w-6 text-lg fa-solid fa-envelope"></i>
              <span class="ml-2 font-bold">Email:</span>
              artur.pas&#64;proton.me
            </a>
          </div>

          <div class="flex items-center">
            <a class="text underline-offset-2 hover:text-[#ff5722] hover:underline" href="https://www.linkedin.com/in/artur-pas/" target="_blank">
              <i class="inline-flex items-center justify-center w-6 text-lg fa-brands fa-linkedin"></i>
              <span class="ml-2 font-bold">LinkedIn:</span>
              artur-pas
            </a>
          </div>

          <div class="flex items-center">
            <a class="underline-offset-2 hover:text-[#ff5722] hover:underline" href="https://www.reddit.com/user/Artur_Pas/" target="_blank">
              <i class="inline-flex items-center justify-center w-6 text-lg fa-brands fa-reddit-alien"></i>
              <span class="ml-2 font-bold">Reddit:</span>
              Artur_Pas
            </a>
          </div>

          <div class="flex items-center">
            <a class="underline-offset-2 hover:text-[#ff5722] hover:underline" href="https://discord.gg/NCGtXBC2uB" target="_blank">
              <i class="inline-flex items-center justify-center w-6 text-lg fa-brands fa-discord"></i>
              <span class="ml-2 font-bold">Discord:</span>
              arturpas</a
            >
          </div>

          <div class="flex items-center">
            <a class="underline-offset-2 hover:cursor-pointer hover:text-[#ff5722] hover:underline" (click)="scrollToContactForm()">
              <i class="inline-flex items-center justify-center w-6 text-lg fa-solid fa-list-check"></i>
              <span class="ml-2 font-bold">Contact form</span>
            </a>
          </div>
        </div>

        <p class="mb-5">Send me a message, and I’ll respond as soon as possible! 🚀</p>

        <div class="my-4 text-2xl font-bold">Check out my work</div>

        <div class="flex flex-wrap gap-4 text-gray-100 max-sm:px-4">
          <a class="flex h-10 cursor-pointer items-center justify-center rounded-md border border-gray-100 bg-[#181D23] px-4 py-1.5 transition-all duration-300 hover:-translate-y-1 hover:bg-black" routerLink="/projects">
            <i class="mr-2 text-xl fa-regular fa-folder-open"></i>
            Personal projects
          </a>
          <a class="flex h-10 cursor-pointer items-center justify-center rounded-md border border-gray-100 bg-[#181D23] px-4 py-1.5 transition-all duration-300 hover:-translate-y-1 hover:bg-black" target="_blank" href="https://github.com/Pasek108">
            <i class="mr-2 text-xl fa-brands fa-github"></i>
            GitHub
          </a>
          <a class="flex h-10 cursor-pointer items-center justify-center rounded-md border border-gray-100 bg-[#181D23] px-4 py-1.5 transition-all duration-300 hover:-translate-y-1 hover:bg-black" target="_blank" href="https://codepen.io/Pasek108">
            <i class="mr-2 text-xl fa-brands fa-codepen"></i>
            Codepen
          </a>
          <a class="flex h-10 cursor-pointer items-center justify-center rounded-md border border-gray-100 bg-[#181D23] px-4 py-1.5 transition-all duration-300 hover:-translate-y-1 hover:bg-black" target="_blank" href="https://www.frontendmentor.io/profile/Pasek108">
            <img class="h-5 mr-2 w-fit" ngSrc="images/icons/FrontendMentor-logo.svg" width="50" height="50" alt="logo" />
            Frontend Mentor
          </a>
          <a class="flex h-10 cursor-pointer items-center justify-center rounded-md border border-gray-100 bg-[#181D23] px-4 py-1.5 transition-all duration-300 hover:-translate-y-1 hover:bg-black" target="_blank" href="https://cssbattle.dev/player/artur_pas">
            <img class="h-4 mr-2 w-fit" ngSrc="images/icons/CSSBattle-logo.svg" width="50" height="50" alt="logo" />
            CSSBattle
          </a>
          <a class="flex h-10 cursor-pointer items-center justify-center rounded-md border border-gray-100 bg-[#181D23] px-4 py-1.5 transition-all duration-300 hover:-translate-y-1 hover:bg-black" target="_blank" href="https://www.codewars.com/users/Artur%20Pas">
            <img class="h-6 mr-2 w-fit" ngSrc="images/icons/Codewars-logo.svg" width="50" height="50" alt="logo" />
            Codewars
          </a>
          <a class="flex h-10 cursor-pointer items-center justify-center rounded-md border border-gray-100 bg-[#181D23] px-4 py-1.5 transition-all duration-300 hover:-translate-y-1 hover:bg-black" target="_blank" href="https://leetcode.com/u/ArturPas/">
            <img class="h-6 mr-2 w-fit" ngSrc="images/icons/LeetCode-logo.png" width="50" height="50" alt="logo" />
            LeetCode
          </a>
          <a class="flex h-10 cursor-pointer items-center justify-center rounded-md border border-gray-100 bg-[#181D23] px-4 py-1.5 transition-all duration-300 hover:-translate-y-1 hover:bg-black" target="_blank" href="https://lmcodequestacademy.com">
            <img class="-mb-0.5 -mt-0.5 mr-2 h-8 w-fit" ngSrc="images/icons/CodeQuest-logo.png" width="50" height="50" alt="logo" />
            Code Quest Academy
          </a>
          <a class="flex h-10 cursor-pointer items-center justify-center rounded-md border border-gray-100 bg-[#181D23] px-4 py-1.5 transition-all duration-300 hover:-translate-y-1 hover:bg-black" target="_blank" href="https://pl.spoj.com/users/artur_pas/">
            <img class="h-5 mr-2 w-fit" ngSrc="images/icons/SPOJ-logo.svg" width="50" height="50" alt="logo" />
            SPOJ
          </a>
        </div>
      </div>

      <div class="h-full min-h-[80vh] w-2/5 flex-grow overflow-hidden rounded-md border border-[#717171] bg-[#212529]">
        @if (loading) {
          <h1 class="mt-[38vh] text-center text-3xl font-bold">Loading...</h1>
        }
        <iframe (load)="iframeLoaded()" [style.min-height]="loading ? '0' : '80vh'" [style.max-height]="loading ? '0' : null" id="contact-form" src="https://docs.google.com/forms/d/e/1FAIpQLSdIQCYW9OVJEEw866heJv_ANlmGI3Lps2N60Mf6b29V3flGnA/viewform?usp=dialog" frameborder="0" marginheight="0" marginwidth="0" class="h-full min-h-[80vh] w-full">Loading</iframe>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
