/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.675rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #00C8FF;
  border-radius: 999rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #878787;
}

blockquote {
  background:
    linear-gradient(to right, #00C8FF 6px, transparent 4px) 0 100%,
    linear-gradient(to left, #00C8FF 6px, transparent 4px) 100% 0,
    linear-gradient(to bottom, #00C8FF 6px, transparent 4px) 100% 0,
    linear-gradient(to top, #00C8FF 6px, transparent 4px) 0 100%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

blockquote:before,
blockquote:after {
  font-family: FontAwesome;
  position: absolute;
  color: #00C8FF;
  font-size: 34px;
}

blockquote:before {
  content: "\f10d";
  top: -12px;
  margin-right: -20px;
  right: 100%;
}

blockquote:after {
  content: "\f10e";
  margin-left: -20px;
  left: 100%;
  top: auto;
  bottom: -20px;
}
