<div class="flex-grow w-1/4">
  {{ range.start }} to
  {{ range.end }} of
  {{ projects_count }}
</div>

<div class="flex w-1/4 min-w-fit shrink-0 flex-grow items-center justify-center gap-1 max-[600px]:absolute max-[600px]:-top-10 max-[600px]:w-full">
  <div (click)="goToPage(0)" class="2-6 flex h-8 w-8 cursor-pointer items-center justify-center rounded-md border border-[#717171] pt-px text-sm transition-colors duration-150 hover:bg-gray-700 hover:text-[#ff5722]"><i class="fa-solid fa-angles-left"></i></div>
  <div (click)="goToPage(page - 1)" class="2-6 flex h-8 w-8 cursor-pointer items-center justify-center rounded-md border border-[#717171] pt-px text-sm transition-colors duration-150 hover:bg-gray-700 hover:text-[#ff5722] max-[600px]:flex-grow"><i class="fa-solid fa-angle-left"></i></div>

  @if (page + 1 == max_page && page - 2 >= 0) { <div (click)="goToPage(page - 2)" class="flex h-8 w-8 cursor-pointer items-center justify-center rounded-md transition-colors duration-150 hover:bg-gray-700 hover:text-[#ff5722]">{{ page - 1 }}</div> }
  @if (page - 1 >= 0) {                         <div (click)="goToPage(page - 1)" class="flex h-8 w-8 cursor-pointer items-center justify-center rounded-md transition-colors duration-150 hover:bg-gray-700 hover:text-[#ff5722]">{{ page }}</div> }
                                                <div                              class="flex h-8 w-8 cursor-pointer items-center justify-center rounded-md transition-colors duration-150 hover:bg-gray-700 hover:text-[#ff5722] pb-px text-xl font-bold text-[#ff5722]">{{ page + 1 }}</div>
  @if (page + 1 < max_page) {                   <div (click)="goToPage(page + 1)" class="flex h-8 w-8 cursor-pointer items-center justify-center rounded-md transition-colors duration-150 hover:bg-gray-700 hover:text-[#ff5722]">{{ page + 2 }}</div> }
  @if (page == 0 && page + 2 < max_page) {      <div (click)="goToPage(page + 2)" class="flex h-8 w-8 cursor-pointer items-center justify-center rounded-md transition-colors duration-150 hover:bg-gray-700 hover:text-[#ff5722]">{{ page + 3 }}</div> }

  <div (click)="goToPage(page + 1)" class="2-6 flex h-8 w-8 cursor-pointer items-center justify-center rounded-md border border-[#717171] pt-px text-sm transition-colors duration-150 hover:bg-gray-700 hover:text-[#ff5722] max-[600px]:flex-grow"><i class="fa-solid fa-angle-right"></i></div>
  <div (click)="goToPage(max_page - 1)" class="2-6 flex h-8 w-8 cursor-pointer items-center justify-center rounded-md border border-[#717171] pt-px text-sm transition-colors duration-150 hover:bg-gray-700 hover:text-[#ff5722]"><i class="fa-solid fa-angles-right"></i></div>
</div>

<div class="flex w-1/4 flex-grow items-center justify-end gap-1.5">
  Per page:
  <select [ngModel]="page_size" (ngModelChange)="onPageSizeChange($event)" class="block h-fit w-fit cursor-pointer rounded-md border border-gray-600 bg-gray-700 p-0.5 pr-0.5 text-sm font-bold text-white placeholder-gray-400 focus:border-blue-500 focus:ring-blue-500">
    <option value="5" class="font-bold">5</option>
    <option value="10" class="font-bold" selected>10</option>
    <option value="20" class="font-bold">20</option>
    <option value="40" class="font-bold">40</option>
    <option value="50" class="font-bold">50</option>
    <option value="100" class="font-bold">100</option>
  </select>
</div>
