<footer class="relative flex w-full flex-col items-center justify-center gap-12 bg-[#111315]">
  <div class="left-100% pointer-events-none absolute -top-[calc(10vw-4px)] z-0 flex h-[10vw] w-full items-end justify-start overflow-hidden max-md:-top-[calc(10vw-2px)]">
    <svg class="-ml-[2px] w-[calc(100%+4px)] shrink-0 bg-transparent" viewBox="0 0 1440 79" xmlns="http://www.w3.org/2000/svg" fill="none">
      <path d="M0 70C0 70 360 10 720 10C1080 10 1440 70 1440 70V79H0V70Z" fill="#111315" stroke="#717171" class="max-md:stroke-2"></path>
    </svg>
  </div>
  <!--
  transform: scale3d(1,1,1);
  top: 0rem;
  left: -225vw;
  <div class="absolute w-full overflow-hidden -top-[calc(5vw-1px)] z-0 flex h-[5vw]">
    <div class="absolute top-0 left-0 border border-[#717171] rounded-full w-[550vw] h-[550vw] bg-[#111315] -translate-x-[225.4vw]" style="transform: scale3d(0.25);"></div>
  </div>-->

  <div class="relative z-10 flex w-full flex-col items-center justify-center gap-12 bg-[#111315]">
    <div class="w-[40rem] max-w-full px-8 pt-8 max-lg:pt-16 max-sm:px-4">
      <section class="mx-5">
        <blockquote class="relative w-full p-10 m-1 text-center text-white">
          We all die. The goal isn't to live forever, the goal is to create something that will.<br />
          <cite> - Chuck Palahniuk</cite>
        </blockquote>
      </section>
    </div>

    <div class="-mb-8 text-xl font-bold">Contact me</div>
    <div class="flex gap-4 px-8 text-2xl text-gray-100 max-sm:px-4">
      <a href="mailto:artur.pas@proton.me" aria-label="mailto link" class="flex aspect-square w-12 cursor-pointer items-center justify-center rounded-full border border-gray-100 transition-colors duration-300 hover:bg-gray-100 hover:text-[#111315]">
          <i class="fa-solid fa-envelope"></i>
      </a>

      <a href="https://www.linkedin.com/in/artur-pas/" target="_blank" aria-label="linkedin link" class="flex aspect-square w-12 cursor-pointer items-center justify-center rounded-full border border-gray-100 transition-colors duration-300 hover:bg-gray-100 hover:text-[#111315]">
        <i class="fa-brands fa-linkedin"></i>
      </a>

      <a href="https://www.reddit.com/user/Artur_Pas/" target="_blank" aria-label="reddit link" class="flex aspect-square w-12 cursor-pointer items-center justify-center rounded-full border border-gray-100 transition-colors duration-300 hover:bg-gray-100 hover:text-[#111315]">
        <i class="fa-brands fa-reddit-alien"></i>
      </a>

      <a href="https://discord.gg/NCGtXBC2uB" target="_blank" aria-label="discord link" class="flex aspect-square w-12 cursor-pointer items-center justify-center rounded-full border border-gray-100 transition-colors duration-300 hover:bg-gray-100 hover:text-[#111315]">
        <i class="fa-brands fa-discord"></i>
      </a>

      <a href="https://github.com/Pasek108" target="_blank" aria-label="github link" class="flex aspect-square w-12 cursor-pointer items-center justify-center rounded-full border border-gray-100 transition-colors duration-300 hover:bg-gray-100 hover:text-[#111315]">
        <i class="fa-brands fa-github"></i>
      </a>
    </div>
  </div>

  <div class="flex items-center justify-center w-full gap-1 px-4 py-3 text-sm bg-black max-sm:flex-col-reverse">
    <div>© Copyright 2025.</div>
    <div>Designed & Developed by 🦍 Artur Pas</div>
  </div>
</footer>
